<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizVerse Password Reset</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <style>
      section {
        font-family: "Merienda", cursive;
      }
    </style>
  </head>
  <body class="h-screen flex flex-col bg-black">
    <header class="h-20 flex items-center justify-center bg-gray-700">
      <img
        src="https://th.bing.com/th/id/OIG2.tMmpQ8Mm3siMwOFJr3vp?w=270&h=270&c=6&r=0&o=5&dpr=1.3&pid=ImgGn"
        alt="Logo"
        class="h-12 w-12 rounded-full mr-2"
      />
      <a class="font-serif text-xl" href="https://github.com/">Quizverse</a>
    </header>
    <section class="flex-1 flex items-center justify-center">
      <div class="text-center">
        <p class="text-lg text-white p-5">
          Hey user,<br />
          Your QuizVerse password can be reset by clicking the button below.<br />
          If you did not request a new password, please ignore this email.
        </p>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 mt-5 px-4 rounded"
        >
          Reset Password
        </button>
      </div>
    </section>
  </body>
</html>
